<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_subject.user_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @user_subject.subject_id %>
</p>

<%= link_to 'Edit', edit_user_subject_path(@user_subject) %> |
<%= link_to 'Back', user_subjects_path %>
